.main {
  display: flex;
  flex-direction: column;

  &__center {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footer {
    margin-top: auto;
  }
}
