// bg colors

.bg-dark-blue {
  background: $dark-color;
}
.bg-fifty {
  background: $fifty-color;
}
.bg-fifty-dark {
  background: $fifty-darker-color;
}
/*Border radius*/
.br-5 {
  border-radius: 10px;
}
.border-black-top {
  border-top: 1px solid rgba($black-color, 0.5);
}
