//colors
$primary-color: #01f1e3;
$primary-variant-color: #4da1ff;

$secondary-color: #991bfa;
$secondary-variant-color: #e323ff;

$tertiary-color: #f17401;
$tertiary-variant-color: #ffb524;

$forty-color: #9292c1;
$forty-darker-color: #5a5a89;
$forty-darker2-color: #25245d;

$fifty-color: #023aff;
$fifty-darker-color: #0031dd;

$sixty-color: #4dffdf;

$dark-color: #191932;

$black-color: #05050f;

$white-color: #fff;

$success-color: #00b929;

$danger-color: #ff2d2e;

//Typography

$primary-font: "Open Sans", sans-serif;
